*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/java/com/dicksonmully6gmail/weatherapp/Constants.java
src/main/java/com/dicksonmully6gmail/weatherapp/services/
src/main/res/drawable/
